.edit-profile-pic-popup {
  display: none;
}

.edit-profile-pic-popup_opened {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}

.edit-profile-pic-popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  top: calc((100vh - 272px) / 2);
  width: 430px;
  height: 272px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  padding: 0 36px;
  padding-top: 34px;
}

.edit-profile-pic-popup__close-button {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: fixed;
  top: calc(((100vh - 272px) / 2) - 49px);
  right: calc(((100% - 430px) / 2) - 49px);
  cursor: pointer;
  padding: 0;
}

.edit-profile-pic-popup__close-button:hover{
  opacity: 60%;
}

.edit-profile-pic-popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: #000000;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.edit-profile-pic-popup__form {
  margin-bottom: 436px;
  width: 100%;
}

@media (min-width: 320px){

  .edit-profile-pic-popup__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    top: calc((100vh - 272px) / 2);
    width: 282px;
    height: 272x;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 0 22px;
    padding-top: 25px;
  }

  .edit-profile-pic-popup__close-button {
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../images/CloseIcon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    position: fixed;
    top: calc(((100vh - 272px) / 2) - 50px);
    right: calc((100% - 282px) / 2);
    padding: 0;
  }

  .edit-profile-pic-popup__title {
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    text-align: left;
    color: #000000;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 76px;
  }
}

@media (min-width: 680px){

  .edit-profile-pic-popup__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    top: calc((100vh - 272px) / 2);
    width: 430px;
    height: 272px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 0 36px;
    padding-top: 34px;
  }

  .edit-profile-pic-popup__close-button {
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../images/CloseIcon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: fixed;
    top: calc(((100vh - 272px) / 2) - 49px);
    right: calc(((100% - 430px) / 2) - 49px);
    padding: 0;
  }

  .edit-profile-pic-popup__title {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    color: #000000;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
  }
}